{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/createUser.css" %}">    
    <link rel="icon" href="{% static 'assets/sketchpixel_logo.jpg' %}" type="image/x-icon">    
    <title>Criar Utilizador</title>
</head>
<body>

    <div class="navbar">
        <a href="{% url 'read_pessoa' %}" class="nav-item">Lista De Utilizadores</a>
        <a href="{% url 'reconhecimento_facial' %}" class="nav-item">Reconhecimento Facial</a>
        <a href="{% url 'estacaoForms' %}" class="nav-item">Criar Estação</a>
        <a href="{% url 'index' %}" class="nav-item">Index</a>
        <a href="{% url 'registros' %}" class="nav-item">registros</a>


    </div>

    <h1 class="titulo">Bem vindo , insira aqui os seus dados</h1>
    <p>Por favor escreva o seu nome sem pequeno</p>

    <form method="POST" enctype="multipart/form-data" action="{% url 'adicionar_pessoa' %}" >
        {% csrf_token %}
        <label for="name">Nome:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        
        <label class="drop-container" id="dropcontainer" for="photo">Foto:</label><br>
        <input type="file" id="photo" name="photo" accept="image/*" required><br><br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
