{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/index.css" %}">    
    <link rel="icon" href="{% static 'assets/sketchpixel_logo.jpg' %}" type="image/x-icon">    

    <title>FaceRecognition</title>
</head>
<body>

    
    <h1 class="titulo">SketchPixel Face Recognition</h1>

    <img class="background" src="{% static 'assets/sketchpixel_logo.jpg' %}" class="img-fluid" id="min" >


    <form action="{% url 'createUser' %}" method="GET">
        <button type="submit" class="btn">Registar Rosto</button>
    </form>
    
    <form action="{% url 'reconhecimento_facial' %}" method="GET">
        <button type="submit" class="btn">Reconhecimento Facial</button>
    </form>
    
    <form action="{% url 'estacaoForms' %}" method="GET">
        <button type="submit" class="btn">Criar Estação</button>
    </form>

    <form action="{% url 'registros' %}" method="GET">
        <button type="submit" class="btn">Registos</button>
    </form>


</body>
</html>
